* {
  font-family: 'Yu Gothic';
}

#logo {
  font-weight: 600;
  font-size: 33px;
}

#top-menu li a {
  font-size: 15px;
  border-bottom: 2px solid white;
}

#top-menu li a:hover {
  border-color: teal;
  color: teal;
}

#banner {
  background-image: url('../images/bg_home.jpg');
  min-height: 50px;
  background-size: cover;
}
